.aside_e_poesia {
  display: flex;
}

.aside_poesia {
  width: 30%;
  height: 100%;
  background-color: #c3e8f5;
  padding: 30px;
  position: sticky;
  top: 130px;
  z-index: 0.9;
}

/* página de poesia */
.poesia{
  width: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.poesia_bloco {
  width: 60%;
  /* max-height: 100vh; */
  /* min-height: 200px; */
  background-color: #def7f5a1;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 20px;
  padding: 15px;
  overflow-x: auto;
}
.poesia_bloco img {
  width: 90%;
}
.tudao{
  margin: px;
}
.anchor{
  display: block;
  height: 130px; /*same height as header*/
  margin-top: -130px; /*same height as header*/
  visibility: hidden;
}